<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="sass/css/style.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>

<!-- jquery -->
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<!-- slick -->
  <link rel="stylesheet" type="text/css" href="slick/slick.css">
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css">
  <script type="text/javascript" src="slick/slick.js"></script>

<body  class="w3-light-grey">
  <div id="app">
    <!-- Navigation bar with social media icons -->
    <div class="w3-bar w3-black w3-hide-small">
    <!--   <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-right"><i class="fa fa-search"></i></a> -->
    </div>
      
    <!-- w3-content defines a container for fixed size centered content, 
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1600px">

      <!-- Header -->
      <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>理財小學堂</b></h1>
        <h6>Welcome to the blog of <span class="w3-tag">Money</span></h6>
      </header>

      <!-- Image header -->
     <!--  <header class="w3-display-container w3-wide" id="home">
        <img class="w3-image" src="/w3images/jane.jpg" alt="Fashion Blog" width="1600" height="1060">
        <div class="w3-display-left w3-padding-large">
          <h1 class="w3-text-white">Jane's</h1>
          <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>FASHION BLOG</b></h1>
          <h6><button class="w3-button w3-white w3-padding-large w3-large w3-opacity w3-hover-opacity-off" onclick="document.getElementById('subscribe').style.display='block'">SUBSCRIBE</button></h6>
        </div>
      </header> -->

      <!-- Grid -->
      <div class="w3-row w3-padding w3-border">

        <!-- Blog entries -->
        <div class="w3-col l8 s12">
        
          <!-- Blog entry -->
          <!--  <router-view></router-view> -->
         <!--  <router-link to ='read.html'></router-link> -->
          <div class="w3-container w3-white w3-margin w3-padding-large">
            <div class="w3-center">
              <h3>{{article[pageID].title}}</h3>
              <h5>{{article[pageID].subtitle}}</h5>
            </div>

            <div class="w3-justify">
              <div class='' @click=''>
                  <img :src="article[pageID].img" alt="Girl Hat" style="width:100%" class="w3-padding-16">
                <div>
                  <p v-html="article[pageID].text"></p>
                  <p class='h10'>
                   <!--  <a class='reading' href="">閱讀文章</a> -->
                  </p>                
                </div>
              </div>
                           
              <p class="w3-left">
                <button class="w3-button w3-white w3-border" @click="likeFunction">
                  <b><i class="fa fa-thumbs-up"></i> 按讚</b>
                </button>
              </p>
              <p class="w3-right">
              <!--   <button class="w3-button w3-black" @click="" id="myBtn">
                  <b>留言  </b> <span class="w3-tag w3-white">1</span>
                </button> -->
              </p>
              <p class="w3-clear"></p>

              <!-- 留言區 -->
              <div 
                 
                 class="w3-row w3-margin-bottom"  
                 style="display:block">
                  <hr>
                 <div v-for="fan in article[pageID].fans" >
                   
                    <div class="w3-col l2 m3">
                      <img :src="fan.fanPhoto" style="width:90px;">
                    </div>
                    <div class="w3-col l10 m9">
                      <h4>{{fan.fanName}} <span class="w3-opacity w3-medium">{{fan.date}}</span></h4>
                      <p>{{fan.comment}}</p>
                    </div>
                 </div>      
              </div>

            </div>
          </div>
          <hr>


          
        <!-- END BLOG ENTRIES -->
        </div>

        <!-- About/Information menu -->
        <div class="w3-col l4">
          <!-- About Card -->
          <div class="w3-white w3-margin">
            <img src="w3images/pexels-aboutUS.jpg" alt="Jane" style="width:100%" class="w3-grayscale">
            <div class="w3-container w3-black">
              <h4>關於我們</h4>
              <p>分類主題為：搶救爛理財、輕鬆退休去、名人理財、理財小工具、達人開講、自動加薪術等，提供文章包括：定存、年金 ...</p>
            </div>
          </div>
          <hr>
         <!--  <p>{{counter}}</p>
          <button @click='counter'>click</button> -->
         <!-- Inspiration -->
      <div class="w3-white w3-margin">
        <div class="w3-container w3-padding w3-black">
          <h4>今日重要財經新聞</h4>
        </div>
        <div class="w3-row-padding w3-white">
          <div class="w3-col s6">
            <p v-for="(ne,idx) in news">
              <img v-if="idx%2==0" 
              :src="ne.img" alt="" style="width:100%">
              <a v-if="idx%2==0"  class="newLink"
                 :href="ne.link" target="_black">{{ne.title}}</a>
            </p>
          
          </div>
           <div class="w3-col s6">
            <p v-for="(ne,idx) in news">
              <img v-if="idx%2==1" 
              :src="ne.img" alt="" style="width:100%">
              <a v-if="idx%2==1" class="newLink" 
              :href="ne.link" target="_black">{{ne.title}}</a>
            </p>
          
          </div>
          <!-- <div class="w3-col s6">
            <p><img src="/w3images/avatar_hat.jpg" alt="Men in Hats" style="width:100%" class="w3-grayscale"></p>
            <p><img src="/w3images/team4.jpg" alt="Jeans" style="width:100%"></p>
         </div> -->
        </div>
      </div>
      <hr>

          <!-- Posts -->
          <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
              <h4>理財達人</h4>
            </div>
            <ul class="w3-ul w3-hoverable w3-white">
              <li v-for='(mas, index) in master'
                  @click='goFB(index)' 
                  class="w3-padding-16">
                <img :src="mas.img" alt="Image" class="w3-left w3-margin-right" style="width:50px">
                <span class="w3-large">{{mas.name}}</span>
                <br>
                <span>{{mas.skill}}</span>
              </li>
             
            </ul>
          </div>
          <hr>

            <!-- Advertising -->
          <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
              <h4>廣告</h4>
            </div>
            <div class="">
              <div
              class="carousel" ref='carousel'>
                 <div v-for="img in carousel" style="height:200px;">
                   <img :src="img">
                 </div>              
              </div>
            </div>
          </div>
          <hr>

          <!-- Tags -->
          <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
              <h4>Tags</h4>
            </div>
            <div class="w3-container w3-white">
              <p class='tags'>
                <span v-for="ta in tag"
                @click=''
                class="w3-tag w3-light-grey w3-small w3-margin-bottom">{{ta}}</span>

              </p>
            </div>
          </div>
          <hr>

         

          <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
              <h4>Follow Me</h4>
            </div>
            <div class="w3-container w3-xlarge w3-padding">
              <i class="fa fa-facebook-official w3-hover-opacity"></i>
              <i class="fa fa-instagram w3-hover-opacity"></i>
              <i class="fa fa-snapchat w3-hover-opacity"></i>
              <i class="fa fa-pinterest-p w3-hover-opacity"></i>
              <i class="fa fa-twitter w3-hover-opacity"></i>
              <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
          </div>
          <hr>

          <!-- Subscribe -->
           <div class="w3-white w3-margin">
            <div class="w3-container w3-padding w3-black">
              <h4>訂閱電子報</h4>
            </div>
            <div class="w3-container w3-white">
              <p>輸入電子信箱，你就能收到最新文章</p>
              <p><input v-model='e_mail' class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
              <p><button type="button" @click='showSubscribe(e_mail)' class="w3-button w3-block w3-red">訂閱</button></p>
            </div>
          </div>
          
      

        <!-- END About/Intro Menu -->
        </div>

      <!-- END GRID -->
      </div>

    <!-- END w3-content -->
    </div>

    <!-- Subscribe Modal -->
      <div id="subscribe" ref='subBtn' class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white">
          <i @click='closeSubscribe'class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
          <h2 class="w3-wide">訂閱成功</h2>
          <p>回到您的電子信箱，按下確定訂閱。您將會收到最新的訊息和文章!</p>
          <button type="button" @click='closeSubscribe' class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" >確定</button>
        </div>
      </div>
    </div>

 <!-- alert Modal -->
    <div id="alert" ref='notSubBtn' class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white">
          <i @click='closeAlert'class="fa fa-remove w3-transparent w3-button w3-xlarge w3-right"></i>
          <h3 class="w3-wide">請輸入email</h3>
          <p></p>
          <button type="button"  @click='closeAlert' class="w3-button w3-block w3-padding-large w3-green w3-margin-bottom" >確定</button>
        </div>
      </div>

    </div>

    <!-- Footer -->
    <footer class="w3-container w3-dark-grey" style="padding:32px">
      <a href="index.html" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>回首頁</a>
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
     

  </div>
   <script src="node_modules/vue-router/dist/vue-router.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script src='js/data.js'></script>
    <script src="js/vue.js"></script>
    <script type="text/javascript">
  //文章
  vm.getURL()
  //廣告啟動
  vm.startCarousel()
      
    //  export default {
    //    computed:{
    //      username(){
   //         return this.$route.params.
   //       }
   //     }
   //   }
    </script>
    
</body>
</html>
